$color-cyan: hsl(179, 62%, 43%);
$color-cyan-light: hsl(179, 47%, 52%);
$color-bright-yellow: hsl(71, 73%, 54%);

$color-light-gray: hsl(204, 43%, 93%);
$color-lighter-gray: hsla(204, 43%, 93%, 0.75);
$color-grayish-blue: hsl(218, 22%, 67%);
$color-white: hsl(0, 0%, 100%);

$font-family-primary: 'Karla', sans-serif;
$font-family-headings: 'Karla', sans-serif;

$font-size-primary: 16px;

$font-weight-400: 400;
$font-weight-700: 700;
